{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent 'project' %}

{% block headerTitle %}
    {% if form.vars.data.id %}
        {{ 'mautic.project.menu.edit'|trans({'%name%': entity.getName()}) }}
    {% else %}
        {{ 'mautic.project.menu.new'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="box-layout">
        <div class="col-md-9 height-auto">
            <div class="row">
                <div class="col-xs-12">
                    <!-- start: tab-content -->
                    <div class="tab-content pa-md">
                        <div class="tab-pane fade in active bdr-w-0" id="details">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
